<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="shared-styles.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="my-cuentas.html">
<link rel="import" href="my-datos.html">
<link rel="import" href="my-contrasena.html">
<link rel="import" href="my-movimientos.html">
<link rel="import" href="my-transferencia.html">
<link rel="import" href="my-maps.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-gracias.html">
<link rel="import" href="my-registro.html">
<link rel="import" href="my-aventura.html">


<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #0B0B3B;
        --app-secondary-color:#0000FF;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #FFFFFF;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: #0B0B3B;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: #0B0B3B;
        font-weight: bold;
      }

      .wrapper-btns {
    margin-top: 10px;
    color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
    .paper-button.link {
      color: white;
    }

    #imagenlogin {
      width: 100%;
      height: 250px;
    }


    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <app-header-layout has-scrolling-region>

         <app-header slot="header" condenses reveals effects="waterfall">
           <app-toolbar>
             <div main-title align="center"><img src="../images/manifest/TechU.png" preload sizing="cover"></img>by MSE</div>
            <paper-button type="submit" align= "rounded-right" hidden = "[[oculto2]]" name="sobremi" on-click="sobremi">Esta Aventura</paper-button>
            <paper-button type="submit" align= "rounded-right" hidden = "[[oculto]]" name="logout" on-click="logout">Salir</paper-button>
           </app-toolbar>
         </app-header>
         <iron-pages
             selected="[[page]]"
             attr-for-selected="name"
             fallback-selection="view404"
             role="main">
           <my-login id="login" name="login"></my-login>
           <my-registro id="registro" name="registro"></my-registro>
           <my-datos id="datos" name="datos"></my-datos>
           <my-contrasena id="contrasena" name="contrasena"></my-contrasena>
           <my-movimientos id="movimientos" name="movimientos"></my-movimientos>
           <my-cuentas id="cuentas" name="cuentas"></my-cuentas>
           <my-transferencia id="transferencia" name="transferencia"></my-transferencia>
           <my-gracias id="gracias" name="gracias"></my-gracias>
           <my-maps id="maps" name="maps"></my-maps>
           <my-aventura id="aventura" name="aventura"></my-aventura>
           <my-view404 name="view404"></my-view404>
         </iron-pages>
    </app-drawer-layout>
  </template>

  <script>

    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          rootPath: String,
          oculto:{
          type:Boolean,
          value:true,
        },
        oculto2:{
        type:Boolean,
        value:false,
      }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      connectedCallback() {
           var __this=this;
          super.connectedCallback();


           this.$.login.addEventListener('logado', function(e){
          // console.log("entra en cuentas");
           __this.oculto=false;
           __this.oculto2=true;
            __this.set('route.path', "/cuentas");
            var id= sessionStorage.getItem('id');
            var apellido = sessionStorage.getItem('apellido');
            var nombre = sessionStorage.getItem('nombre');
            //console.log(id);
            __this.$.cuentas.obtenerCuentas(id);

           });

           this.$.cuentas.addEventListener('detalleMovimientos', function(e){
          // console.log("entra en movimientos");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/movimientos");
           var iban = sessionStorage.getItem ('ibanselected');
           //console.log(iban);
           __this.$.movimientos.obtenerMovimientos(iban);
           });

           this.$.movimientos.addEventListener('volverMovimientos', function(e){
           //console.log("volver a cuentas");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/cuentas");
           });

           this.$.cuentas.addEventListener('datosPersonales', function(e){
            // console.log("entra en datos personales");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/datos");
            __this.$.datos.obtenerDatos();
           });

           this.$.datos.addEventListener('volverCuentas', function(e){
            // console.log("entra en datos personales");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/cuentas");
           });

           this.$.datos.addEventListener('irContrasena', function(e){
            //console.log("entra en modificar contraseña");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/contrasena");
           });

           this.$.contrasena.addEventListener('volverDatos', function(e){
           //console.log("entra en datos personales");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/datos");
           });

           this.$.movimientos.addEventListener('maps', function(e){
            // console.log("entra en maps");
             __this.oculto=false;
             __this.oculto2=true;
             __this.set('route.path', "/maps");
             __this.$.maps.latitud = sessionStorage.getItem('latitud');
             __this.$.maps.longitud = sessionStorage.getItem('longitud');
           });

           this.$.maps.addEventListener('volverMaps', function(e){
            // console.log("volver a movimientos");
             __this.oculto=false;
             __this.oculto2=true;
             this.set('route.path', "/movimientos");
           });


           this.$.cuentas.addEventListener('transferencia', function(e){
          // console.log("entra en hacer transferencia");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/transferencia");
           var iban2 =sessionStorage.getItem ('ibanselected2');
           var saldoactual =sessionStorage.getItem ('saldoactual');
           //console.log(iban2);
           //console.log(saldoactual);
           });


           this.$.transferencia.addEventListener('volverCuentas', function(e){
           //console.log("entra en cuentas");
           __this.oculto=false;
           __this.oculto2=true;
           __this.set('route.path', "/cuentas");
             var id= sessionStorage.getItem('id');
             __this.$.cuentas.obtenerCuentas(id);
           });


           this.$.login.addEventListener('registro', function(e){
             //console.log ("entra en registro");
           __this.oculto2=true;
           __this.set('route.path', "/registro");
            });

           this.$.registro.addEventListener('registrado', function(e){
          // console.log("entra en login tras registro correcto");
           __this.set('route.path', "/login");
           });

           this.$.registro.addEventListener('volverLogin',function(e){
             //console.log("entra en volver a login");
           __this.oculto=true;
           __this.oculto2=false;
           __this.set('route.path', "/login");
             });

          this.$.gracias.addEventListener('volverLogin',function(e){
          //console.log("entra en volver a login");
          __this.oculto=true;
          __this.oculto2=false;
          __this.set('route.path', "/login");
            });


          this.$.aventura.addEventListener('volverLogin',function(e){
            //console.log("entra en volver a login");
          __this.oculto=true;
          __this.oculto2=false;
          __this.set('route.path', "/login");
            });


     }

logout(){
  //console.log("entro en página gracias de log out");
  this.set('route.path', "/gracias");
  this.oculto=true;
  var id= sessionStorage.getItem('id');
  this.$.gracias.hacerLogout(id);
    }

sobremi(){
    //console.log("entro en página gracias de mi experiencia en la TechU");
    this.set('route.path', "/aventura");
    this.oculto=true;
    this.oculto2=true;
        }

      _routePageChanged(page){

        this.page = page || 'login';

      //  if (!this.$.drawer.persistent)
        //this.$.drawer.close();
      }

      _pageChanged(page){
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showLogin.bind(this),
            true);
      }
      _showLogin(){
              this.page = 'login';
            }
    }

window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
