

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">


<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-aventura">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    table {
        width: 100%;
        padding: 0 50px 0 50px;
    }
    #googlemap {
      width: 100%;
      min-height: 400px;
    }
    </style>

    <app-location
  route="{{route}}"
  url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
  route="{{route}}"
  pattern="[[rootPath]]:page"
  data="{{routeData}}"
  tail="{{subroute}}">
  </app-route>

  <div class="card">

<h1>Esta aventura...</h1>
<br>
<table>
  <tr>
    <td width="45%">
      <iframe id="googlemap" src="https://www.google.com/maps/d/embed?mid=1Q8lTSnIHI59MgpNwdapXJdYSkeg&ll=-13.0990512691364%2C-72.70284978876953&z=11"></iframe>
    </td>
    <td width="10%"></td>
    <td valign="top" width="45%">
      <p align="right"><i>“Cerca de la cima siempre hay mil excusas para bajarse<br>y una sola para subir.”<br>
      Ramón Portilla</i></p>
      <p align="justify">En Octubre de 2017, tuve la oportunidad de hacer el Camino Inca.<br><br>
                        Recorrí a pie los antiguos senderos incas que, serpenteando por la escarpada orografía
                        del Cusco, conducen a la antigua y sagrada ciudad de Macchu Pichu.<br><br>
                        Fueron muchas horas de tremendo esfuerzo, en las que me arrepentí varias veces de haber emprendido el camino.<br><br>
                        Al final del recorrido, en la Puerta del Sol, con la ciudadela a mis pies, de repente olvidé el sufrimiento del camino.
                        La satisfacción del objetivo logrado hizo que valiera la pena.</p>
    </td>

</table>
<paper-button raised class="link"on-tap="evento14">Volver</paper-button>

</div>

  </template>

  <script>
    class MyAventura extends Polymer.Element {
      static get is() { return 'my-aventura'; }
      static get properties() {
        return {

        };
      }

  evento14(){
  const detail ={result:'OK'};
  var event = new Event('volverLogin')
  this.dispatchEvent (event);
}

    }

    window.customElements.define(MyAventura.is, MyAventura);
  </script>
</dom-module>
