

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="my-movimientos.html">
<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-gracias.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-cuentas">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        padding: 10px;
      }
table {color : #0B0B3B;   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}
thead {background-color: #0B0B3B; color :white; padding:20px; line-height:30px }
tbody tr:nth-child(even) {color :#0B0B3B; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}
tbody tr:nth-child(odd) {color :#0B0B3B;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}


.wrapper-btns {
margin-top: 15px;
color: #0B0B3B;
}
paper-button.link {
color: #0B0B3B;
}

  </style>

<app-location
route="{{route}}"
url-space-regex="^[[rootPath]]">
</app-location>

<app-route
route="{{route}}"
pattern="[[rootPath]]:page"
data="{{routeData}}"
tail="{{subroute}}">
</app-route>


    <iron-ajax id="obtenerCuentas"
              url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas"
              handle-as="json"
              on-response="mostrarCuentas"
              on-error="mostrarErrorCuentas">
    </iron-ajax>


<div class="card">

  <br>
  <h1>Bienvenid@ de nuevo {{nombre}} {{apellido}}</h1>

<paper-button raised class="link"on-tap="evento10">Datos Personales</paper-button>

  <h1>Posición Global</h1>
  </br>
  <table class="table table-striped">

    <thead>
      <th align="center-block">
        CUENTA
      </th>
      <th align="center-block">
        SALDO
      </th>
      <th align="center-block">
        QUIERO
      </th>
    </thead>
    <tbody>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td align= "center"> {{item.iban}} </td>
              <td align="right"> {{item.saldo}}€ </td>
              <td align="center"><paper-button raised class="link"on-tap="evento1">Ver Movimientos</paper-button><paper-button class="link" on-tap="evento2">Hacer Transferencia</paper-button></td>
              </tr>
          </template>
      </tbody>
  </table>
</div>

    </template>

    <script>

      class MyCuentas extends Polymer.Element {
        static get is() { return 'my-cuentas'; }
        static get properties() {
          return {
            idcliente: {
              type: Number
            },
            nombre: {
              type: String
            },
            apellido:{
              type:String
            },
              cuentas: {
                type: Array,
              }
          };
          }


            mostrarCuentas(resultado) {
              this.cuentas =resultado.detail.response
              //console.log(this.cuentas)
            }

            mostrarErrorCuentas(resultado) {
            //  console.log(error.detail.response)
              alert-warning ("No dispone de cuentas activas")
            }

            obtenerCuentas(id){
              this.apellido = sessionStorage.getItem('apellido');
              this.nombre = sessionStorage.getItem('nombre');
              this.$.obtenerCuentas.headers.idcliente =id
              this.$.obtenerCuentas.generateRequest()
            }

          evento1(e){
              //console.log (e.model.__data.item.iban)
              sessionStorage.setItem('ibanselected', e.model.__data.item.iban);
              var event = new Event('detalleMovimientos')
              this.dispatchEvent (event)
          }

          evento2(e){
              //console.log (e.model.__data.item.iban)
              //console.log (e.model.__data.item.saldo)
              sessionStorage.setItem('ibanselected2', e.model.__data.item.iban);
              sessionStorage.setItem('saldoactual', e.model.__data.item.saldo);
              var event = new Event('transferencia')
              this.dispatchEvent (event)
          }

          evento10(e){
              var event = new Event('datosPersonales')
              this.dispatchEvent (event)
          }



        }

    window.customElements.define(MyCuentas.is, MyCuentas);
  </script>
</dom-module>
