
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-datos.html">
<link rel="import" href="my-gracias.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-contrasena">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
            .wrapper-btns {
          margin-top: 15px;
          color: #0B0B3B;
      }
          paper-button.link {
            color: #0B0B3B;
          }

          .iron-input {
        margin-top: 15px;
        height: : 20 px;
        color: #0B0B3B;
        font-size: 18px;
        }

        .paper-checkbox {
      color: #0B0B3B;
      }

    </style>

    <iron-ajax id="obtenerContrasena"
    url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/modificarpassword"
          method="POST"
          handle-as="json"
          on-response="mostrarResultado"
          on-error="mostrarError">
    </iron-ajax>

  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>


  <div class="card">

    <h1>Modificación de Contraseña</h1>

    <iron-form id="formularioRegistro">
        <iron-input slot="input" bind-value="{{nuevapassword}}"><span>Nueva Contraseña:  </span><input id="nuevapassword" type="password" value="{{nuevapassword::input}}" placeholder="Indique su nueva contraseña" required auto-validate></iron-input>
        <iron-input slot="input" bind-value="{{nuevapassword2}}"><span>Repita la nueva contraseña:  </span><input id="nuevapassword2" type="password" value="{{nuevapassword2::input}}" placeholder="Reptia de nuevo la nueva contraseña" required auto-validate></iron-input>
      <br>
      <div class="wrapper-btns">
      <paper-button raised class="link"on-tap="obtenerContrasena">Cambiar Contraseña</paper-button>
      <paper-button raised class="link"on-tap="evento21">Volver a datos personales</paper-button>
      </div>
    </iron-form>
  </div>
  </template>

  <script>
    class MyContrasena extends Polymer.Element {
      static get is() { return 'my-contrasena'; }
      static get properties(){
      return {
        id: {
          type: String
        },
        nuevapassword: {
          type: String
        },
        pasword: {
          type: String
        },
        respuesta: {
            type: String
        }
        };
      }

      mostrarResultado(resultado){
        //console.log("4.Llegaron los resultados")
        //console.log (resultado.detail.response)
        this.respuesta = resultado.detail.response.Resultado
        //console.log(this.respuesta)
        alert(this.respuesta)
        var event = new Event('volverDatos');
        this.dispatchEvent (event);

      }

      mostrarError(error){
        //console.log ("4.llega el error")
        //console.log(error)
        alert("Error en la modificación de la contraseña. Inténtelo de nuevo")
        }

      obtenerContrasena(){
        //console.log("1.El usuario ha pulsado modificar su contraseña")
        var id3= sessionStorage.getItem('id')
        var pasword = sessionStorage.getItem('pasword')
        //console.log(id3)
        //console.log(pasword)
        var a = this.nuevapassword;
        var b = this.nuevapassword2;
        //console.log(a);
        //console.log(b);
        if (a === b) {
          this.$.obtenerContrasena.headers.id =id3
          this.$.obtenerContrasena.headers.pasword =pasword
          this.$.obtenerContrasena.headers.nuevapassword =this.nuevapassword
          //console.log(this.nuevapassword)
          //console.log ("2.Voy a enviar la petición")
          this.$.obtenerContrasena.generateRequest()
          //console.log("3.Peticion enviada")
          }
          else {
            alert("Las claves introducidas no son iguales. Inténtelo de nuevo")
          }
      }

      evento21(){
        const detail ={result:'OK'};
        var event = new Event('volverDatos');
        this.dispatchEvent (event);
      }

}

window.customElements.define(MyContrasena.is, MyContrasena);
  </script>
</dom-module>
