
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="my-app.html">
<link rel="import" href="my-cuentas.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-gracias.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-datos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

            .wrapper-btns {
          margin-top: 15px;
          color: #0B0B3B;
      }
          paper-button.link {
            color: #0B0B3B;
          }

          .iron-input {
        margin-top: 15px;
        height: : 20 px;
        color: #0B0B3B;
        font-size: 18px;
        }

        .paper-checkbox {
      color: #0B0B3B;
      }
      input {
        background-color: #F2F2F2;
        border-top: none;
        border-left: none;
        border-right: none;
      }

      #imagendatos {
        width: 140px;
        height: 180px;
      }

    </style>

    <iron-ajax id="obtenerDatos"
    url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/datosusuario"
          handle-as="json"
          on-response="mostrarResultadoDatos"
          on-error="mostrarError">
    </iron-ajax>

  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>


    <div class="card">

    <h1>Datos Personales</h1>

    <table class="table table-striped">

      <thead>
        <th align="center-block">
        </th>
      </thead>
      <tbody>
            <template is="dom-repeat" items="{{resultado}}">
              <tr>
                <td align= "left" rowspan="7" valign="top" width= "150px"><img id="imagendatos" src="{{item.foto}}" alt="imagen datos"></td>
                <td align= "left"><b>Nombre:</b></td>
                <td align= "left"> {{item.nombre}} </td>

              </tr>
              <tr>
                  <td align= "left"><b>Primer Apellido:</b></td>
                  <td align= "left"> {{item.apellido}} </td>
              </tr>
              <tr>
                  <td align= "left"><b>NIF:</b></td>
                  <td align= "left"> {{item.nif}} </td>
              </tr>
              <tr>
                  <td align= "left"><b>Email:</b></td>
                  <td align= "left"> {{item.email}} </td>
              </tr>
              <tr>
                  <td align= "left"><b>Password:</b></td>
                  <td align= "left"><input id="password" type="password" value= "{{item.pasword}}"></input></td>
              </tr>
              <tr>
                  <td align= "left"><b>Ciudad:</b></td>
                  <td align= "left"> {{item.ciudad}} </td>
              </tr>
              <tr>
                  <td align= "left"><b>Teléfono:</b></td>
                  <td align= "left"> {{item.telefono}} </td>
              </tr>

            </template>
        </tbody>
    </table>
    <br>
  <paper-button raised class="link"on-tap="evento15">Volver a posición global</paper-button>
  <paper-button raised class="link"on-tap="evento20">Modificar contraseña</paper-button>
    </div>
  </template>

  <script>
    class MyDatos extends Polymer.Element {
      static get is() { return 'my-datos'; }
      static get properties(){
      return {
        id: {
          type: String
        },
        resultado: {
            type: Array
        }
        };
      }

      obtenerDatos(){
        //console.log("1.El usuario ha pulsado ver sus datos")
        var id2= sessionStorage.getItem('id')
        //console.log(id2)
        this.$.obtenerDatos.headers.id =id2
        //console.log ("2.Voy a enviar la petición")
        this.$.obtenerDatos.generateRequest()
        //console.log("3.Peticion enviada")
      }

      mostrarResultadoDatos(resultado){
        //console.log("4.Llegaron los resultados")
        //console.log (resultado.detail.response)
        this.resultado = resultado.detail.response
        //console.log(resultado)
      }

      mostrarError(error){
        //console.log ("4.llega el error")
        //console.log(error)
        alert("Error en la carga de sus datos. Inténtelo de nuevo")
        }

      evento15(){
        const detail ={result:'OK'};
        var event = new Event('volverCuentas')
        this.dispatchEvent (event);
      }
      evento20(){
        const detail ={result:'OK'};
        var event = new Event('irContrasena')
        this.dispatchEvent (event);
      }
}

window.customElements.define(MyDatos.is, MyDatos);
  </script>
</dom-module>
