<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-cuentas.html">
<link rel="import" href="my-movimientos.html">
<link rel="import" href="my-transferencia.html">
<link rel="import" href="my-maps.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-gracias">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }

    .wrapper-btns {
    margin-top: 15px;
    color: #0B0B3B;
    }
    paper-button.link {
    color: #0B0B3B;
    }

    #imagenlogout {

      width: 100%;
      height: 250px;
    }

    </style>

    <app-location
  route="{{route}}"
  url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
  route="{{route}}"
  pattern="[[rootPath]]:page"
  data="{{routeData}}"
  tail="{{subroute}}">
  </app-route>


  <iron-ajax id="hacerLogout"
  url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/logout"
        method="POST"
        handle-as="json"
        on-response="mostrarResultadoLogout"
        on-error="mostrarError">
  </iron-ajax>


  <div class="card">
    <h1>Hasta luego!</h1>
    <h1>Muchas gracias por su visita!</h1>
    <br>
    <img id="imagenlogout" src="../images/manifest/imagen-logout.jpg" preload sizing="cover" alt="imagen logout"></img>
     <br>
   </div>
   <paper-button raised class="link" on-tap="evento8">Volver a Acceder</paper-button>

  </template>

  <script>
    class MyGracias extends Polymer.Element {
      static get is() { return 'my-gracias'; }
      static get properties() {
        return {
          id: {
            type: String
          },
        };

    }

        mostrarResultadoLogout(resultado){
          //console.log("3.Llegaron los resultados")
         //console.log(resultado.detail.response);
         window.sessionStorage.clear()
                      }
        mostrarError(error){
          //console.log ("3.llega el error")
          //console.log(error)
          alert("Sesión ya cerrada")
        }

        hacerLogout(){
            this.$.hacerLogout.headers.id = parseInt(sessionStorage.id);
            //console.log (parseInt(sessionStorage.id))
            //console.log ("1.Voy a enviar la petición");
            this.$.hacerLogout.generateRequest();
            //console.log("2.Peticion enviada");
      }

        evento8(){
          const detail ={result:'OK'};
          var event = new Event('volverLogin')
          this.dispatchEvent(event);
            }

    }

    window.customElements.define(MyGracias.is, MyGracias);
  </script>
</dom-module>
