<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<link rel="import" href="shared-styles.html">


<dom-module id="my-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .wrapper-btns {
    margin-top: 15px;
    color: #0B0B3B;
}
    paper-button.link {
      color: #0B0B3B;
    }

    #imagenlogin {
      width: 100%;
      height: 250px;
    }

    </style>

    <iron-ajax id="hacerLogin"
    url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/login"
          method="POST"
          handle-as="json"
          on-response="mostrarResultadoLogin"
          on-error="mostrarError">
    </iron-ajax>


    <div class="card">

      <table width=100%>
        <tr>
          <td colspan=3>
            <img id="imagenlogin" src="../images/manifest/imagen-login.jpg" alt="imagen login">
          </td>
        </tr>
        <tr>
          <td width=41%>
          </td>
          <td align=center>
            <div id="acceso">
              <h1>Tu Banca Online</h1>
              <paper-input-container>
                <iron-input slot="input" bind-value="{{email}}">
                  <input id="email" type="text" value="{{email::input}}" placeholder="Correo electrónico" size="25px">
                </iron-input>
              </paper-input-container>
              <paper-input-container>
                <iron-input slot="input" bind-value="{{pasword}}">
                  <input id="pasword" type="password" value="{{pasword::input}}" placeholder="Contraseña" size="25px">
                </iron-input>
              </paper-input-container>
              <div class="wrapper-btns">
                <paper-button raised class="primary" on-tap="logar">Entrar</paper-button>
                <paper-button raised class="link" on-tap="nuevoUsuario">Hazte Cliente</paper-button>
              </div>
            </div>
          </td>
          <td width=41%>
         </td>
        </tr>
      </table>
  </div>
  </template>

  <script>

    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {

          email: {
            type: String
          },
          pasword: {
            type: String
          },
          logado: {
        type: Boolean,
        value: false,
      }
        };
      }

      mostrarResultadoLogin(resultado){
        // console.log("4.Llegaron los resultados");
        // console.log(resultado);
        // console.log("5.Proceso los resultados");
        this.logado = true;
        sessionStorage.setItem('nombre', resultado.detail.response.nombre);
        sessionStorage.setItem('apellido', resultado.detail.response.apellido);
        sessionStorage.setItem('id', resultado.detail.response.id);
        //console.log(sessionStorage);
        var event = new Event('logado');
        this.dispatchEvent (event);
                    }
      logar(){
        //console.log("1.El usuario ha pulsado el botón");
          this.$.hacerLogin.headers.email = this.email;
          this.$.hacerLogin.headers.pasword = this.pasword;
          sessionStorage.setItem('pasword', this.pasword);
        //  console.log ("2.Voy a enviar la petición");
          this.$.hacerLogin.generateRequest();
        //  console.log("3.Peticion enviada");

}
      mostrarError(error){
      //  console.log ("4.llega el error")
      //  console.log(error)
        alert("Usuario o Constraseña inocorrecta")
      }

      nuevoUsuario()
      {
      //  console.log('botónregistro');
        var event = new Event ('registro');
        this.dispatchEvent(event);

      }

    }


    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
