

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">


<link rel="import" href="my-cuentas.html">
<link rel="import" href="my-movimientos.html">
<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-gracias.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-maps">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      padding: 10px;
    }
    google-map {
        height: 400px;
        weight:400px;
      }
    </style>

    <app-location
  route="{{route}}"
  url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
  route="{{route}}"
  pattern="[[rootPath]]:page"
  data="{{routeData}}"
  tail="{{subroute}}">
  </app-route>

  <div class="card">

     <h1>Localización</h1>
     <br>
       <google-map zoom=15 latitude={{latitud}} longitude={{longitud}} fit-to-markers api-key="AIzaSyCtOX3UIcFZKii5BUdXCEpKIBYmHC9nxAI">
         <google-map-marker latitude={{latitud}} longitude={{longitud}} draggable="false"></google-map-marker>
       </google-map>
     <br>
   <paper-button raised class="link"on-tap="evento4">Volver a movimientos</paper-button>
   </div>

  </template>

  <script>
    class MyMaps extends Polymer.Element {
      static get is() { return 'my-maps'; }
      static get properties() {
        return {
                latitud:{
                  type: Number,
                  value: sessionStorage.getItem('latitud')
                },
                longitud:{
                  type: Number,
                  value: sessionStorage.getItem('longitud')
                }
        };
      }

  evento4(){
  const detail ={result:'OK'};
  var event = new Event('volverMaps')
  this.dispatchEvent (event);
}

    }

    window.customElements.define(MyMaps.is, MyMaps);
  </script>
</dom-module>
