

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">

<link rel="import" href="my-cuentas.html">
<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-gracias.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      table {color : #0B0B3B;   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}
      thead {background-color: #0B0B3B; color :white; padding:20px; line-height:30px }
      tbody tr:nth-child(even) {color :#0B0B3B; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}
      tbody tr:nth-child(odd) {color :#0B0B3B;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}

      .wrapper-btns {
      margin-top: 15px;
      color: #0B0B3B;
      }
      paper-button.link {
      color: #0B0B3B;
      }


    </style>

    <app-location
route="{{route}}"
url-space-regex="^[[rootPath]]">
</app-location>

<app-route
route="{{route}}"
pattern="[[rootPath]]:page"
data="{{routeData}}"
tail="{{subroute}}">
</app-route>


<iron-ajax id="obtenerMovimientos"

          url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/movimientos"
          handle-as="json"
          on-response="mostrarMovimientos"
          on-error="mostrarErrorMovimientos">

  </iron-ajax>

    <div class="card">
        <br>
      <h1>Movimientos de la cuenta: {{ibanselected}}</h1>
        </br>
        <table class="table table-striped">
          <thead>
            <th align="center-block">
              FECHA
            </th>
            <th align="center-block">
              IMPORTE
            </th>
            <th align="center-block">
              CONCEPTO
              </th>
            <th align="center-block">
              MAS INFO
            </th>
          </thead>
          <tbody>
                <template is="dom-repeat" items="{{movimientos}}">
                  <tr>
                    <td align= "center">{{item.fecha}}</td>
                    <td align="right">{{item.importe}} {{item.moneda}}</td>
                    <td align= "left">{{item.Tipo}}</td>
                    <td align="center">
                      <template is="dom-if" if="{{item.cuentadestino}}">
                        Cuenta Destino: {{item.cuentadestino}}
                      </template>
                      <template is="dom-if" if="{{!item.cuentadestino}}">
                        <paper-button raissed class="link"on-tap="evento3"><u>Localización</u></paper-button>
                      </template>
                    </td>

                  </tr>
                </template>
            </tbody>
        </table>
  <br>
</br>
    <paper-button raised class="link"on-tap="evento6">Volver a posición global</paper-button>

  </template>

  <script>

    class MyMovimientos extends Polymer.Element {
      static get is() { return 'my-movimientos'; }
    static get properties() {
      return {
          iban: {
          type: String
        },
        ibanselected: {
        type: String
      },
          movimientos: {
            type: Array
          },
          obtenerMovimientos:function(){
            this.ibanselected = sessionStorage.getItem ('ibanselected')
            this.$.obtenerMovimientos.headers.iban = iban
            this.$.obtenerMovimientos.generateRequest()
          }
      };
    }
        mostrarMovimientos(resultado) {
          //console.log(resultado.detail.response)
          this.movimientos =resultado.detail.response[0].movimientos
        //  console.log(this.movimientos)
        }

        mostrarErrorMovimientos(error) {
        //  console.log(error.detail.response)
          alert-warning ("No dispone de movimientos en la cuenta seleccionada")
        }
        obtenerMovimientos(iban){
          this.ibanselected = sessionStorage.getItem ('ibanselected')
          this.$.obtenerMovimientos.headers.iban = iban
          this.$.obtenerMovimientos.generateRequest()

        }


  evento3(e){
    //console.log (e.model.__data.item.Latitud)
    //console.log (e.model.__data.item.Longitud)
    var latitud = e.model.__data.item.Latitud
    var longitud = e.model.__data.item.Longitud
     sessionStorage.setItem('latitud', latitud)
     sessionStorage.setItem('longitud', longitud)
     var event = new Event('maps')
     this.dispatchEvent (event);
   }

   evento6(e){
     const detail ={result:'OK'};
     var event = new Event('volverMovimientos')
     this.dispatchEvent (event);
   }

      }

    window.customElements.define(MyMovimientos.is, MyMovimientos);

  </script>
</dom-module>
