
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">


<link rel="import" href="shared-styles.html">
<link rel="import" href="my-gracias.html">


<dom-module id="my-registro">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

            .wrapper-btns {
          margin-top: 15px;
          color: #0B0B3B;
      }
          paper-button.link {
            color: #0B0B3B;
          }

          .iron-input {
        margin-top: 15px;
        height: : 20 px;
        color: #0B0B3B;
        font-size: 18px;
        }

        .paper-checkbox {
      color: #0B0B3B;
      }
      span {
        color:#0B0B3B;
      }

    </style>

    <iron-ajax id="altaRegistro"
    url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/registro"
          method="POST"
          handle-as="json"
          on-response="mostrarResultadoRegistro"
          on-error="mostrarError">
    </iron-ajax>

  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>


    <div class="card">

    <h1>Formulario de alta en nuestra web</h1>
    <h2>Por favor, registre todos los datos para proceder a su alta correctamente</h2>
      <iron-form id="formularioRegistro">

          <iron-input slot="input" bind-value="{{nombre}}"><span>Nombre: </span><input id="nombre" type="text" value="{{nombre::input}}" placeholder="Indique su nombre" required auto-validate></iron-input>
          <iron-input slot="input" bind-value="{{apellido}}"><span>  Apellido: </span><input id="apellido" type="text" value="{{apellido::input}}" placeholder="Indique su primer apellido" required auto-validate></iron-input>
          <iron-input slot="input" bind-value="{{nif}}"><span> NIF: </span><input id="nif" type="text" value="{{nif::input}}" placeholder="Indique su NIF" required auto-validate></iron-input>
          <br>
          </br>
          <iron-input slot="input" bind-value="{{email}}"><span>Email:  </span><input id="email" type="email" value="{{email::input}}" placeholder="Indique su email" required auto-validate></iron-input>
          <iron-input slot="input" bind-value="{{pasword}}"><span>  Password: </span><input id="pasword" type="password" value="{{pasword::input}}" placeholder="Indique una password" required auto-validate></iron-input>
          <br>
          </br>
          <iron-input slot="input" bind-value="{{ciudad}}">
            <span>Ciudad: </span>  <input id="ciudad" type="text" value="{{ciudad::input}}" placeholder="Indique su ciudad" required auto-validate>
          </iron-input>
          <iron-input slot="input" bind-value="{{telefono}}">
          <span>Teléfono (habitual): </span><input id="telefono" type="text" value="{{telefono::input}}" placeholder="Indique un teléfono" required auto-validate>
          </iron-input>
          <br>
          </br>
          <paper-checkbox name="Condiciones" required><span>He leido y acepto las condiciones</span></paper-checkbox><br>

            <div class="wrapper-btns">
              <paper-button raised class="primary" on-tap="registrar">Enviar datos</paper-button>
              <paper-button raised class="primary" on-tap="evento16">Volver a Inicio</paper-button>
            </div>
      </iron-form>
    </div>
  </template>

  <script>
    class MyRegistro extends Polymer.Element {
      static get is() { return 'my-registro'; }
      static get properties(){
      return {

        nombre: {
          type: String
        },
        apellido: {
          type: String
        },
        email: {
          type: String
        },
        pasword: {
          type: String
        },
        ciudad: {
          type: String
        },
        telefono: {
          type: String
        },
        nif: {
          type: String
        },
        respuesta: {
          type: String
        }
  };

}

  mostrarResultadoRegistro(resultado){
  //console.log("4.Llegaron los resultados");
  //console.log (resultado.detail.response);
  this.respuesta= resultado.detail.response.Detalle;
  //console.log (this.respuesta);
    alert (this.respuesta);
    var event = new Event('registrado');
    this.dispatchEvent (event);
                }

  registrar(){
  //console.log("1.El usuario ha pulsado el alta con todos los datos obligatorios")
      this.$.altaRegistro.headers.email = this.email
      this.$.altaRegistro.headers.pasword = this.pasword
      this.$.altaRegistro.headers.nombre = this.nombre
      this.$.altaRegistro.headers.apellido = this.apellido
      this.$.altaRegistro.headers.telefono = this.telefono
      this.$.altaRegistro.headers.ciudad = this.ciudad
      this.$.altaRegistro.headers.nif = this.nif
      //console.log(this.email)
      //console.log(this.pasword)
      //console.log(this.nombre)
      //console.log(this.apellido)
      //console.log(this.nif)
      //console.log(this.telefono)
      //console.log (this.ciudad)
    //console.log ("2.Voy a enviar la petición")
      this.$.altaRegistro.generateRequest()
    //console.log("3.Peticion enviada")
}

  mostrarError(error){
  //console.log ("4.llega el error")
  //console.log(error)
    alert("Error en el registro de alta. Inténtelo de nuevo")
    }

    evento16(){
      const detail ={result:'OK'};
      var event = new Event('volverLogin')
      this.dispatchEvent(event);
        }
  }

window.customElements.define(MyRegistro.is, MyRegistro);
  </script>
</dom-module>
