
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">


<link rel="import" href="shared-styles.html">
<link rel="import" href="my-cuentas.html">
<link rel="import" href="my-movimientos.html">
<link rel="import" href="my-app.html">
<link rel="import" href="my-login.html">
<link rel="import" href="my-gracias.html">


<dom-module id="my-transferencia">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      table {color : #0B0B3B;   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}
      thead {background-color: #0B0B3B; color :white; padding:20px; line-height:30px }
      tbody tr:nth-child(even) {color :#0B0B3B; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}
      tbody tr:nth-child(odd) {color :#0B0B3B;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)}

      .wrapper-btns {
      margin-top: 15px;
      color: #0B0B3B;
      }
      paper-button.link {
      color: #0B0B3B;
      }

    </style>



<app-location
route="{{route}}"
url-space-regex="^[[rootPath]]">
</app-location>

<app-route
route="{{route}}"
pattern="[[rootPath]]:page"
data="{{routeData}}"
tail="{{subroute}}">
</app-route>

<iron-ajax id="altaTransferencia"
url="http://rutaapitechubymse2-apitechumse.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/altamovimiento"
      method="POST"
      handle-as="json"
      on-response="mostrarResultadoTransferencia"
      on-error="mostrarError">
</iron-ajax>


    <div class="card">

      <h1>Formulario de Transferencia / Traspaso entre cuentas</h1>
      <h2>Por favor, registre todos los datos para proceder a la trasnferencia correctamente</h2>
        <iron-form id="formularioRegistro">

            <iron-input slot="input" bind-value="{{fecha}}"><span>Fecha Transferencia: </span><input id="fecha" type="date" value="{{fecha::input}}" placeholder="Indique la fecha de ejecución de la trasnferencia" required auto-validate></iron-input>
            <iron-input slot="input" bind-value="{{importe}}"><span>  Importe de la Transferencia: </span><input id="importe" type="text" value="{{importe::input}}" placeholder="Indique el importe" required auto-validate></iron-input>
            <iron-input slot="input" bind-value="{{nif}}"><span> Cuenta Destino de la Transferencia: </span><input id="cuentadestino" type="text" value="{{cuentadestino::input}}" placeholder="Indique la Cuenta Destino" required auto-validate></iron-input>
            <br>
            </br>
            <paper-checkbox name="Condiciones" required><span>He leido y acepto las condiciones</span></paper-checkbox><br>

              <div class="wrapper-btns">
                <paper-button raised class="primary" on-tap="transferencia">Hacer Transferencia</paper-button>  <paper-button raised class="primary" on-tap="evento11">Volver a posición global</paper-button>
              </div>
        </iron-form>

    </div>
  </template>

  <script>
    class MyTransferencia extends Polymer.Element {
      static get is() { return 'my-transferencia'; }
      static get properties(){
      return {
        iban2: {
          type: String
        },
        saldoactual: {
          type: String
        },
        fecha: {
          type: String
        },
        imorte: {
          type: String
        },
        cuentadestino: {
          type: String
        },
        respuesta: {
          type: String
        }
    };
    }

      mostrarResultadoTransferencia(resultado){
        //console.log("4.Llegaron los resultados");
        //console.log (resultado.detail.response);
        this.respuesta= resultado.detail.response.Detalle;
        //console.log (this.respuesta);
        alert (this.respuesta);
        var event = new Event('volverCuentas');
        this.dispatchEvent (event);
        }

      transferencia(){
        //console.log("1.El usuario ha pulsado el botón de transferencia con todos los datos obligatorios completados")
        var iban2 =sessionStorage.getItem ('ibanselected2');
        var saldoactual =sessionStorage.getItem ('saldoactual');
          this.$.altaTransferencia.headers.iban = iban2
          this.$.altaTransferencia.headers.saldo = saldoactual
          this.$.altaTransferencia.headers.fecha = this.fecha
          this.$.altaTransferencia.headers.importe = this.importe
          this.$.altaTransferencia.headers.cuentadestino = this.cuentadestino
          //console.log(iban2)
          //console.log(saldoactual)
          //console.log(this.fecha)
          //console.log(this.importe)
          //console.log(this.cuentadestino)
          //console.log ("2.Voy a enviar la petición")
          this.$.altaTransferencia.generateRequest()
          //console.log("3.Peticion enviada")
      }

      mostrarError(error){
      //console.log ("4.llega el error")
      //console.log(error)
        alert("Error durante la operación de realizar transferencia. Por favor, inténtelo de nuevo")
      }

      evento11(e){
        const detail ={result:'OK'};
        var event = new Event('volverCuentas')
        this.dispatchEvent (event);
      }

    }
    window.customElements.define(MyTransferencia.is, MyTransferencia);
  </script>
</dom-module>
