

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #0B0B3B;
        border-radius: 10px;
        background-color: #F2F2F2;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }


      h1 {
        margin: 20px 0;
        color:#0B0B3B;
        font-size: 24px;
      }
      h2 {
        margin: 20px 0;
        color:#0B0B3B;
        font-size: 18px;
      }

      .wrapper-btns {
    margin-top: 15px;
}
    paper-button.link {
      color: #0B0B3B;

    }

}
    </style>
  </template>
</dom-module>
